<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Simple Wa Connect" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <%= javascript_importmap_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>" />

    <script>window.CURRENT_USER_ID = <%= current_user&.id || 'null' %>;</script>
  </head>
  <body class="whatsapp-dark">
    <div class="fixed top-4 inset-x-0 flex justify-center z-50 pointer-events-none">
      <div class="flash" id="flash">
        <%= render "layouts/flash" %>
      </div>
    </div>

    <main>
       <%= yield %>
     </main>
    <footer class="absolute bottom-1 left-0 right-0 text-center text-sm text-gray-400 z-20 bg-transparent pointer-events-none">
       © <%= Time.current.year %> • Simple WA Connect
     </footer
  </body>
</html>
